body{
    font-family: 'Comic Sans MS';
}

nav{
    background-color: #aff5ae67;
    border-radius: 10px;
    place-items: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    box-shadow: 0 4px 30px rgba(209, 120, 120, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
}

nav .a{
    cursor: pointer;
}

.contact{}

.intro{}

.work{}

.skills{}