body{
    font-family: 'Comic Sans MS';
}

nav{
    background-color: #aff5ae67;
    border-radius: 10px;
    place-items: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    box-shadow: 0 4px 30px rgba(209, 120, 120, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
}

a:hover{
    transform: rotateZ('45deg');
}

.contact{}

.intro{}

.work{}

.skills ul li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 1px solid #aff5ae;
    border-radius: 10px;
}
.skills ul li:hover{
    transition: background-color 1s ease, transform 0.5s ease-in-out, color 0.5s ease;
    background-color: #aff5ae;
    color: white;
    transform: scale3d(1.1, 1.1, 1.1);
    cursor: pointer;
}